<ion-view id="bookcity">
 <div class="bar bar-header bar-positive">
 <i ng-click="back();" class="ion-arrow-left-c"></i>
  <h1 class="title">书城</h1>
</div>
<ion-content id="content">
<div class="list" >
    <div ng-click="ddd($index,book._id);"  class="item item-thumbnail-left" ng-repeat = "book in purdata" >
    <!--ui-sref = "allbook({id:$index})"-->
      <img ng-src="{{book.ImgUrl}}">
      <h2>{{book.title}}</h2>
      <p>{{book.author}}</p>
      <h2>{{book.miaoshu}}</h2>
    </div>
</div>

</ion-content>
</ion-view>	