<ion-view id="category"  cache-view="false">
   <div class="bar bar-header bar-calm">
   <i class='ion ion-android-search'></i>
 <input type="text" placeholder="说你想说">
</div>
  <ion-content id='content' overflow-scroll='false'>
   <div class="swiper-container" id="banner">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
    <img src="img/banner3.jpg">
    </div>
    <div class="swiper-slide">
      <img src="img/banner2.jpg">
    </div>
    <div class="swiper-slide">
      <img src="img/banner4.jpg">
    </div>
  </div>
</div>
<div id="conent_nav">
  <div class="row">
  <div class="col col-33.3"><i class='ion ion-ios-bolt'></i>Live</div>
  <div class="col col-33.3"><i class='ion ion-ios-book-outline'></i>书店</div>
  <div class="col col-33.3"><i class='ion ion-chatbubble'></i>付费</div>
</div>
</div>
<div id="every_day">
  <p>每日新知</p>
  <div class="every_day_content">
    <ul>
      <li><i class='ion-android-arrow-dropright-circle'></i>[镇住场]不紧张的3个方法<span>04-29</span></li>
      <li><i class='ion-android-arrow-dropright-circle'></i>别用[睡前喝酒]促进睡眠<span>04-08</span></li>
       <li><i class='ion-android-arrow-dropright-circle'></i>孤独的人跟=更擅长社交?<span>05-06</span></li>
    </ul>
  </div>
  <div id="every_day_bottom">
    <div class="button1"><i class='ion-ios-play'></i><span>免费播放全部</span></div>
    <div class="button_right"><span>查看更多</span><i class='ion-ios-arrow-right'></i></div>
  </div>
</div>
<div id="today_preferential" >
  <div class="today_preferential_top">
    <div class="today_preferential_top_left">
      <h2>今日优惠</h2>
      <p>精选内容&nbsp;限时特价</p>
    </div>
     <div class="today_preferential_top_right"></div>
  </div>
  <ion-scroll id='scroll'  direction='x' padding='true'  scrollbar-x='false' locking='false' delegate-handle="kalendar"> 
   <div class="today_preferential_bottom">
     <div class='img'>
       <div class="bjt"></div>
       <div>中产家庭如何DIY理财规划</div>
       <div>高杰豪</div>
       <div><span>￥4.9</span><span>￥44</span></div>
     </div>
     <div class='img'>
        <div class="bjt"></div>
       <div>中产家庭如何DIY理财规划</div>
       <div>高杰豪</div>
       <div><span>￥4.9</span><span>￥44</span></div>
     </div>
     <div class='img'>
        <div class="bjt"></div>
       <div>中产家庭如何DIY理财规划</div>
       <div>高杰豪</div>
       <div><span>￥4.9</span><span>￥44</span></div>
     </div>
     </ion-scroll> 
     </div>
     
     </div>
   
   
<div id="model_firl">
  <div class="row">
  <div class="col col-50">
 <div class="col_left">
   <div>大家都在听</div>
   <div>发现好Live</div>
 </div>
 <div class="col_right">
   <div></div>
 </div>
  </div>
  <div class="col col-50">
   <div class="col_left">
   <div>大家都在听</div>
   <div>发现好Live</div>
 </div>
 <div class="col_right">
   <div></div>
 </div>
  </div>

</div>
  <div class="row">
  <div class="col col-50">
  <div class="col_left">
   <div>大家都在听</div>
   <div>发现好Live</div>
 </div>
 <div class="col_right">
   <div></div>
 </div>
  </div>
  <div class="col col-50">
   <div class="col_left">
   <div>大家都在听</div>
   <div>发现好Live</div>
 </div>
 <div class="col_right">
   <div></div>
 </div>
  </div>

</div>
</div>
<div id="GYLike">
  <div class="GYLike_one">
    <i class=' ion ion-flash'></i>
    <span>Live&nbsp;猜你喜欢</span>
  </div>
<div class="GYLike_two">
<div class="GYLike_two_left">
  <p>厉害的人是如何学习的?</p>
  <p>古典、warfalcon、采铜&nbsp;5694人参与</p>
  <p><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><span>￥9.99</span></p>
  </div>
  <div class="GYLike_two_right">
    
  </div>
</div>
<div class="GYLike_two">
<div class="GYLike_two_left">
  <p>厉害的人是如何学习的?</p>
  <p>古典、warfalcon、采铜&nbsp;5694人参与</p>
  <p><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><span>￥9.99</span></p>
  </div>
  <div class="GYLike_two_right">
    
  </div>
</div>
<div class="GYLike_two">
<div class="GYLike_two_left">
  <p>厉害的人是如何学习的?</p>
  <p>古典、warfalcon、采铜&nbsp;5694人参与</p>
  <p><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><span>￥9.99</span></p>
  </div>
  <div class="GYLike_two_right">
    
  </div>
</div>
<div class="GYLike_two">
<div class="GYLike_two_left">
  <p>厉害的人是如何学习的?</p>
  <p>古典、warfalcon、采铜&nbsp;5694人参与</p>
  <p><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><span>￥9.99</span></p>
  </div>
  <div class="GYLike_two_right">
    
  </div>
</div>
<div class="GYLike_two">
<div class="GYLike_two_left">
  <p>厉害的人是如何学习的?</p>
  <p>古典、warfalcon、采铜&nbsp;5694人参与</p>
  <p><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><span>￥9.99</span></p>
  </div>
  <div class="GYLike_two_right">
    
  </div>
</div>
<div class="GYLike_two">
<div class="GYLike_two_left">
  <p>厉害的人是如何学习的?</p>
  <p>古典、warfalcon、采铜&nbsp;5694人参与</p>
  <p><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><span>￥9.99</span></p>
  </div>
  <div class="GYLike_two_right">
    
  </div>
</div>
<div class="GYLike_two">
<div class="GYLike_two_left">
  <p>厉害的人是如何学习的?</p>
  <p>古典、warfalcon、采铜&nbsp;5694人参与</p>
  <p><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><i class='ion ion-ios-star'></i><span>￥9.99</span></p>
  </div>
  <div class="GYLike_two_right">
    
  </div>
</div>
</div>
  </ion-content>
</ion-view>

